<h1>Seriously ?</h1>

<ul>
  <%- %w[alice bob charls].each do |user| %>
    <li><%= link_to "#{user.capitalize}'s talk.", talk_url(user) %></li>
  <% end %>
</ul>

<h2>What's this?</h2>

<p>Concept proof of 'painless and moderen' sub-directory Rails app.

See <a href='https://github.com/moro/hobbykaigi2013'>sources</a> for detail.  </p>

