<html>
<head>
  <title>RubyKaigi 2013: the untold kaigi begins</title>
  <meta charset="utf-8" />
  <style type="text/css">
<!--
body {
  font-family:sans-serif;
  color: #be0000;
  text-align: center;
  margin 0 auto;
  background: #fff;
}
-->
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6972157-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=317794091608525";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1 style="letter-spacing: 0.5em;font-size: 32px;">THE RUBYKAIGI 2013</h1>
<div style="margin-top:80px">
  <img src="/assets/symbol.png" style="display:block;margin: 0 auto;" />
</div>
<div style="margin-top:4em;font-weight: bold;line-height:1.3">
<div style="font-size: 24px;letter-spacing:8px">
&quot;THE UNTOLD KAIGI BEGINS&quot;
</div>
<div style="margin-top:2em;font-size: 22px;">
May 30 - June 1<br/>
at Tokyo International Exchange Center<br />
<span style="font-size:18px">(Koto-ku, Tokyo, Japan)</span>
</div>
<div style="margin-top:2em;font-size:16px;">Keynote talks will be given by:</div>
<div style="font-size: 22px;line-height: 1.5">
Yukihiro <i>&quot;Matz&quot;</i> Matsumoto, <br />
José Valim <span style="font-size:16px">and</span> Akira <i>&quot;akr&quot;</i> Tanaka
</div>

<div style="margin-top:2em">
  <div style="margin: auto; background: #F8E1EA; width: 640px; text-align:center; padding: 1em;">
    <div style="font-size: 18px;margin-bottom: 0.5em">We are now seeking for sponsors!!</a></div>
    <span style="font-size:14px">Prospectus: <a href="http://goo.gl/UrKpm">http://goo.gl/UrKpm</a></span><br />
    <span style="font-size:14px">Application Form: <a href="http://goo.gl/u4xc3">http://goo.gl/u4xc3</a></span>
  </div>
</div>

<div style="margin-top:2em">
  <div style="margin: auto; background: #F8E1EA; width: 640px; text-align:center; padding: 1em;">
    <div style="font-size: 18px;margin-bottom: 0.5em">Call For Presentation of RubyKaigi 2013!!!!!</a></div>
    <span style="font-size:14px">Submission Form: <a href="http://goo.gl/s6GEQ">http://goo.gl/s6GEQ</a></span><br />
    <span style="font-size:14px">DEADLINE: 2013-02-20 19:00(JST)</span>
  </div>
</div>




<div style="margin-top:2em">
<a href="http://blog.rubykaigi.org">http://blog.rubykaigi.org</a>
</div>
<div style="margin-top:2em">
<a href="http://lanyrd.com/2013/rubykaigi/">http://lanyrd.com/2013/rubykaigi/</a>
</div>
<div style="margin-top:2em;font-size:16px">
Feel free to contact the team via email to 2013 at rubykaigi.org
</div>

</div>

<div style="margin-top:2em">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rubykaigi.org/2013" data-via="rubykaigi" data-hashtags="rubykaigi">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div style="margin-top:0.5em">
<div class="fb-like" data-href="http://rubykaigi.org/2013" data-send="true" data-width="450" data-show-faces="true"></div>
</div>


<div style="margin-top:2em;color: #333">
2012  <a href="/2011">2011</a>  <a href="/2010">2010</a> <a href="/2009">2009</a> <a href="/2008">2008</a> <a href="/2007">2007</a> <a href="/2006">2006</a>
</div>
</body>
</html>
