%header
  %h1#mainImg
    = image_tag 'homeMain.svg', alt: 'RubyKaigi 2013 MAY 30 - JUNE 1 at Tokyo International Exchange Center Tokyo, Japan'
%div#information
  %h2
    We are now seeking for sponsors!!
  %div
    %p
      Prospectus:
      %a(href='https://dl.dropbox.com/s/3yhh9578lz72yw6/rk13-sponsors-prospectus.pdf' target='_blank')
        http://goo.gl/UrKpm
    %p
      Application Form:
      %a(href='https://docs.google.com/a/ruby-no-kai.org/spreadsheet/viewform?formkey=dGxvUkQxQm04MmVicDFEaHppb0diS3c6MQ#gid=0' target='_blank')
        http://goo.gl/u4xc3
  %h2
    Call For Presentation of RubyKaigi 2013!!!!!
  %div
    %p
      Submission Form:
      %a(href='https://docs.google.com/a/ruby-no-kai.org/spreadsheet/viewform?formkey=dDl6RFI1WWFwZ1dlaTFsNGNzYWdDSHc6MQ' target='_blank')
        http://goo.gl/s6GEQ
    %p
      DEADLINE: 2013-02-20 19:00(JST)
  %h2
    Tags
  %div
    %p
      For Twitter:
      %a(href='https://twitter.com/#!/search/realtime/%23rubykaigi')
        \#rubykaigi
    %p
      For Blogs, Flickr: rubykaigi2013
  %h2
    Previous
  %div#previous
    %ol
      - (2006..2012).to_a.reverse.each do |year|
        %li
          %a(href="http://rubykaigi.org/#{year}")= year
%p
  Feel free to contact the team via email to 2013 at rubykaigi.org
