%div.gridContainer.clearfix
  %div#information
    %h2
      Accommodation
    %p
      We recommend you to stay hotels near by
      %a(href='http://lanyrd.com/venues/tokyo/vxkd/' target='_blank')
        Tokyo International Exchange Center
      \.
    %ul
      %li
        %a(href='http://www.sunroute.jp/english/hotelinfo/tokyo_kanagawa/ariake/index.html' target='_blank')
          HOTEL SUNROUTE ARIAKE
      %li
        %a(href='http://tokyobay.washington-hotels.jp/' target='_blank')
          WASHINGTON HOTEL TOKYO BAY ARIAKE
      %li
        %a(href='http://www.bconte.com/ariake/en/' target='_blank')
          B:CONTE Ariake
      %li
        %a(href='http://www.hnt.co.jp/en/index.html' target='_blank')
          hotel nikko tokyo
%footer
  %div.gridContainer.clearfix
    %nav
      %ul
        %li
          %a(href='http://lanyrd.com/2013/rubykaigi/' target='_blank')
            lanyrd
          %li
            %a(href='http://blog.rubykaigi.org' target='_blank')
              Blog
          %li
            %a(href='https://twitter.com/rubykaigi' target='_blank')
              Twitter
    %aside
      %p#copyright
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">RubyKaigi 2013 Team</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
 
