%article#content
  %h1
    speakers
  %h2
    Keynote Speakers
  %div
    %ul#keynoteSpeakers
      %li<>
        %p.name
          Yukihiro "Matz" Matsumoto
        %p.avatar
          %img{ width: 180, height: 180, src: 'http://www.gravatar.com/avatar/0ec4920185b657a03edf01fff96b4e9b?s=180', alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: 'https://github.com/matz', target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: 'https://twitter.com/yukihiro_matz', target: '_blank' }
              %i.icon-twitter

      %li<>
        %p.name
          José Valim
        %p.avatar
          %img{ width: 180, height: 180, src: 'http://www.gravatar.com/avatar/e837f6b7fd146ab16ed3d663476c063e?s=180', alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: 'https://github.com/josevalim', target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: 'https://twitter.com/josevalim', target: '_blank' }
              %i.icon-twitter

      %li<>
        %p.name
          Tanaka "akr" Akira
        %p.avatar
          %img{ width: 180, height: 180, src: 'commonNoImage.png', alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: 'https://github.com/akr', target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: 'https://twitter.com/tanaka_akr', target: '_blank' }
              %i.icon-twitter

  %h2
    Speakers
  %div
    %ul#speakers
      - 10.times do
        %li<>
          %p.name
            FirstName MiddleName LastName
          %p.avatar
            %img{ width: 100, height: 100, src: 'commonNoImage.png', alt: 'Avatar' }
          %p.links
            %span.btn
              %a{ href: '#', target: '_blank' }
                %i.icon-github-alt
            %span.btn
              %a{ href: '#', target: '_blank' }
                %i.icon-twitter
