%article#content
  %h1
    team
  %div
    %ul.teamMembers
      %li<>
        %p.name
          shintaro kakutani
        %p.role
          organizing director
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/63a6bff89d692e21de20868202bc8dde?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          masayoshi takahashi
        %p.role
          organizer
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/21a4b941766d805333e11c5766be43b4?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          akira matsuda
        %p.role
          organizer
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/76a777ff80f30bd3b390e275cce625bc?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          koji shimada
        %p.role
          organizer
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/941b170e5a115a295cccb5f5cdf0a800?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          urabe shyouhei
        %p.role
          organizer
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/9d2f78236e45a335301ba1195026105d?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          paul McMahon
        %p.role
          organizer
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/dd24adb5a3a430fed83a33ed552fe1b5?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          yoji shidara
        %p.role
          kaigifreaks honcho
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/817b7699ccbd3a6664de66eee8c2cbd2?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          norio suzuki
        %p.role
          kaigifreaks
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/8e528456ff66ec543952daa815353a01?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          jun ohwada
        %p.role
          kaigifreaks,
          %br
          communication honcho
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/6fd9be5cd0196df5ad62a5a5f2be3c55?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          koiwa hidekazu
        %p.role
          kaigifreaks,
          %br
          networking honcho
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/256838377ddbe600e85d8f446aae224d?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          mayuko sekiya
        %p.role
          designer
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/00575484b5d4489619bfc52e9775ee3b?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          gentaro terada
        %p.role
          rubykaigi.org
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/de0df5acda15a9c7eeb6c28a5e5d4e8e?s=64', alt: 'Avatar' }

      %li<>
        %p.name
          ryunosuke sato
        %p.role
          rubykaigi.org
        %p.avatar
          %img{ width: 64, height: 64, src: 'http://www.gravatar.com/avatar/dc03a27ae31ba428c560c00c9128cd75?s=64', alt: 'Avatar' }
