%article#content
  %h1
    team
  %div
    %ul.teamMembers
      %li<>
        %p.name
          Shintaro Kakutani
        %p.role
          organizing director
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/63a6bff89d692e21de20868202bc8dde?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Masayoshi Takahashi
        %p.role
          organizer
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/21a4b941766d805333e11c5766be43b4?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Akira Matsuda
        %p.role
          organizer
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/76a777ff80f30bd3b390e275cce625bc?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Koji Shimada
        %p.role
          organizer
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/941b170e5a115a295cccb5f5cdf0a800?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Urabe Shyouhei
        %p.role
          organizer
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/9d2f78236e45a335301ba1195026105d?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Paul McMahon
        %p.role
          organizer
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/dd24adb5a3a430fed83a33ed552fe1b5?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Yoji Shidara
        %p.role
          kaigifreaks honcho
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/817b7699ccbd3a6664de66eee8c2cbd2?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Norio Suzuki
        %p.role
          kaigifreaks
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/8e528456ff66ec543952daa815353a01?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Jun Ohwada
        %p.role
          kaigifreaks,
          %br
          communication honcho
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/6fd9be5cd0196df5ad62a5a5f2be3c55?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Koiwa Hidekazu
        %p.role
          kaigifreaks,
          %br
          networking honcho
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/256838377ddbe600e85d8f446aae224d?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Mayuko Sekiya
        %p.role
          designer
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/00575484b5d4489619bfc52e9775ee3b?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Gentaro Terada
        %p.role
          rubykaigi.org
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/de0df5acda15a9c7eeb6c28a5e5d4e8e?s=100', alt: 'Avatar' }

      %li<>
        %p.name
          Ryunosuke Sato
        %p.role
          rubykaigi.org
        %p.avatar
          %img{ width: 100, height: 100, src: 'http://www.gravatar.com/avatar/dc03a27ae31ba428c560c00c9128cd75?s=100', alt: 'Avatar' }
