%article#content
  %h1
    speakers
  %h2
    Keynote Speakers
  %div
    %ul#keynoteSpeakers
      %li<>
        %p.name
          Yukihiro "Matz" Matsumoto
        %p.avatar
          %img{ width: 180, height: 180, src: 'http://www.gravatar.com/avatar/0ec4920185b657a03edf01fff96b4e9b?s=180', alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: 'https://github.com/matz', target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: 'https://twitter.com/yukihiro_matz', target: '_blank' }
              %i.icon-twitter

      %li<>
        %p.name
          José Valim
        %p.avatar
          %img{ width: 180, height: 180, src: 'http://www.gravatar.com/avatar/e837f6b7fd146ab16ed3d663476c063e?s=180', alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: 'https://github.com/josevalim', target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: 'https://twitter.com/josevalim', target: '_blank' }
              %i.icon-twitter

      %li<>
        %p.name
          Tanaka "akr" Akira
        %p.avatar
          %img{ width: 180, height: 180, src: image_path('commonNoImage.png'), alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: 'https://github.com/akr', target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: 'https://twitter.com/tanaka_akr', target: '_blank' }
              %i.icon-twitter

  %h2
    Ruby Committers Who Are Going to Give a Talk
  %div
    %ul#speakers
      -# emboss start
      %li<>
        %p.name
          Martin Bosslet
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/1ecef11b3cc6abfda85798858745ef72?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/emboss", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/_emboss_", target: '_blank' }
              %i.icon-twitter
      -# emboss end
      -#  keiju start
      %li<>
        %p.name
          Keiju Ishitsuka
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/97f338629741aa42d6717bfba0c2830f?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "#", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "#", target: '_blank' }
              %i.icon-twitter
      -#  end
      -# shugo start
      %li<>
        %p.name
          Shugo Maeda
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/18a797893e6768e048c1d15429f96bb4?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/shugo", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/shugomaeda", target: '_blank' }
              %i.icon-twitter
      -# shugo end
      -# amatsuda start
      %li<>
        %p.name
          Akira Matsuda
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/76a777ff80f30bd3b390e275cce625bc?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/amatsuda", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/a_matsuda", target: '_blank' }
              %i.icon-twitter
      -# amatsuda end
      -#  start
      %li<>
        %p.name
          Usaku Nakamura
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/8cbb39dadafaf2287a83a13ee4981ec9?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "#", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "#", target: '_blank' }
              %i.icon-twitter
      -#  end
      -# tenderlove start
      %li<>
        %p.name
          Aaron Patterson
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/f29327647a9cff5c69618bae420792ea?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/tenderlove", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/tenderlove", target: '_blank' }
              %i.icon-twitter
      -# tenderlove end
      -# seki start
      %li<>
        %p.name
          Masatoshi SEKI
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/40f4d1f2e77078955bd01e9fb4a503ba?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/seki", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/m_seki", target: '_blank' }
              %i.icon-twitter
      -# seki end
      -# ko1 start
      %li<>
        %p.name
          Koichi Sasada
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/308cbef6e86dfc49cce3b2d4cf42aedc?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/ko1", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/koichisasada", target: '_blank' }
              %i.icon-twitter
      -# ko1 end
      -# kou start
      %li<>
        %p.name
          Kouhei Sutou
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/ee6ffca720cc428d70247dcd7377dd48?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/kou", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/ktou", target: '_blank' }
              %i.icon-twitter
      -# kou end
      -# shyouhei start
      %li<>
        %p.name
          Urabe, Shyouhei
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/9d2f78236e45a335301ba1195026105d?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/shyouhei", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/shyouhei", target: '_blank' }
              %i.icon-twitter
      -# shyouhei end
      -# nagachika start
      %li<>
        %p.name
          Tomoyuki,Chikanaga
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/5cf8f058a4c094bb708174fb43e7a387?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/nagachika", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/nagachika", target: '_blank' }
              %i.icon-twitter
      -# nagachika end
      -# authorNari start
      %li<>
        %p.name
          nari
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/9f859654c118bcd2f67cc763baf0de7a?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/authorNari", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/nari3", target: '_blank' }
              %i.icon-twitter
      -# authorNari end
      -# okkez start
      %li<>
        %p.name
          okkez
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/9673ac7770ee09f76ff5d839820db157?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/okkez", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/okkez", target: '_blank' }
              %i.icon-twitter
      -# okkez end

  %h2
    Speakers in the Plenary Kaigi
  %div
    %ul#speakers
      -#  start
      %li<>
        %p.name
          Shozo Arai
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/2ace97e3d45d19b4e6aadf89a497f2c9?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "#", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "#", target: '_blank' }
              %i.icon-twitter
      -#  end
      -# indirect start
      %li<>
        %p.name
          André Arko
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/91eeff0aae76794bad5d0eb72d577386?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/indirect", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/indirect", target: '_blank' }
              %i.icon-twitter
      -# indirect end
      -# bovi start
      %li<>
        %p.name
          Daniel Bovensiepen
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/49d6f762505615af259534deed94bc54?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/bovi", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/bovensiepen", target: '_blank' }
              %i.icon-twitter
      -# bovi end
      -# hasclass start
      %li<>
        %p.name
          Sebastian Burkhard
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/5a3cdca851be0f6fea2a746b78afa0b8?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/hasclass", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/hasclass", target: '_blank' }
              %i.icon-twitter
      -# hasclass end
      -# jacobo start
      %li<>
        %p.name
          Jacob Burkhart
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/409e4d0bf136e5197eb8ecb8375be8ad?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/jacobo", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/beanstalksurf", target: '_blank' }
              %i.icon-twitter
      -# jacobo end
      -# mattonrails start
      %li<>
        %p.name
          Matthew Conway
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/0b30c6aa6b9027d124ca028325b80b15?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/mattonrails", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/mattonrails", target: '_blank' }
              %i.icon-twitter
      -# mattonrails end
      -# deadprogrammer start
      %li<>
        %p.name
          Ron Evans
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/2f6254b55c3e1693bd1e64d246cead33?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/deadprogrammer", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/@deadprogram", target: '_blank' }
              %i.icon-twitter
      -# deadprogrammer end
      -# jfoley start
      %li<>
        %p.name
          John Foley
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/45001df0297ee307cee788f15c5a8595?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/jfoley", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/jw_foley", target: '_blank' }
              %i.icon-twitter
      -# jfoley end
      -# lrz, watson1978 start
      %li<>
        %p.name
          Laurent Sansonetti
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/08eb285fc24c487c7838a6164b845364?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/lrz", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/lrz", target: '_blank' }
              %i.icon-twitter
      %li<>
        %p.name
          Shizuo Fujita
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/6e8aca910e7ee095397d3b90acb25f6c?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/watson1978", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/watson1978", target: '_blank' }
              %i.icon-twitter
      -# lrz, watson1978 end
      -# saturnflyer start
      %li<>
        %p.name
          Jim Gay
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/09477c358c5897d44121a248326e16d7?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/saturnflyer", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/saturnflyer", target: '_blank' }
              %i.icon-twitter
      -# saturnflyer end
      -# nomadcoder start
      %li<>
        %p.name
          Max Gorin
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/b472b6e2dfd982ec3995cf4471b4c1e4?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/nomadcoder", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/nomadcoder", target: '_blank' }
              %i.icon-twitter
      -# nomadcoder end
      -# rkh start
      %li<>
        %p.name
          Konstantin Haase
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/dddf1d0b08d492bbf18d7b865db098d8?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/rkh", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/konstantinhaase", target: '_blank' }
              %i.icon-twitter
      -# rkh end
      -# brynary start
      %li<>
        %p.name
          Bryan Helmkamp
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/b67ae70db4351816ffeaef4f49005667?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/brynary", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/brynary", target: '_blank' }
              %i.icon-twitter
      -# brynary end
      -# kaochenlong start
      %li<>
        %p.name
          Eddie Kao
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/f2dcf6633971844e19ca96ea294ba976?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/kaochenlong", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/eddiekao", target: '_blank' }
              %i.icon-twitter
      -# kaochenlong end
      -# tkawa start
      %li<>
        %p.name
          Toru Kawamura
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/4bc8a6fb46ecbd1a5432e58225954ea3?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/tkawa", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/tkawa", target: '_blank' }
              %i.icon-twitter
      -# tkawa end
      -# danishkhan start
      %li<>
        %p.name
          Danish Khan
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/b801a36049da233e6266a0275568a7cf?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/danishkhan", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/danishkhan", target: '_blank' }
              %i.icon-twitter
      -# danishkhan end
      -# hone start
      %li<>
        %p.name
          Terence Lee
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/ac7f7f050ade421ee11b467c8570a3cd?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/hone", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/hone02", target: '_blank' }
              %i.icon-twitter
      -# hone end
      -# moro start
      %li<>
        %p.name
          moro, Kyosuke MOROHASHI
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/70e13d9877054026fda46d5a5b53a236?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/moro", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/moro", target: '_blank' }
              %i.icon-twitter
      -# moro end
      -# emachnic start
      %li<>
        %p.name
          Evan Machnic
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/64f520e30a70a11c22ae2cdd50d51e99?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/emachnic", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/emachnic", target: '_blank' }
              %i.icon-twitter
      -# emachnic end
      -# halogenandtoast start
      %li<>
        %p.name
          Matthew Mongeau
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/b066cb3c505933f832faa83238489a89?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/halogenandtoast", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/halogenandtoast", target: '_blank' }
              %i.icon-twitter
      -# halogenandtoast end
      -# kyanny start
      %li<>
        %p.name
          Kensuke Nagae
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/fffd8bf62b842a46803fb07792029fa4?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/kyanny", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/kyanny", target: '_blank' }
              %i.icon-twitter
      -# kyanny end
      -# mirakui start
      %li<>
        %p.name
          Issei Naruta
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/8ed4c28c6567ee259571ab7178159607?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/mirakui", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/mirakui", target: '_blank' }
              %i.icon-twitter
      -# mirakui end
      -# enebo, headius start
      %li<>
        %p.name
          Thomas E. Enebo
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/13313ac2ec7ba7c43b1b952db034ff3b?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/enebo", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/tom_enebo", target: '_blank' }
              %i.icon-twitter
      %li<>
        %p.name
          Charles O. Nutter
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/f1d37642fdaa1662ff46e4c65731e9ab?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/headius", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/headius", target: '_blank' }
              %i.icon-twitter
      -# enebo, headius end
      -# r00k start
      %li<>
        %p.name
          Ben Orenstein
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/e30754b725a8b734f1a507beac3063c6?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/r00k", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/r00k", target: '_blank' }
              %i.icon-twitter
      -# r00k end
      -# dabit start
      %li<>
        %p.name
          David Padilla
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/a59cda5de705716cbd18195a4dd68a56?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/dabit", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/dabit", target: '_blank' }
              %i.icon-twitter
      -# dabit end
      -# sikachu start
      %li<>
        %p.name
          Sichanugrist, Prem
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/f1c4a3bb1606cc4a61711e61e2fe6146?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/sikachu", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/sikachu", target: '_blank' }
              %i.icon-twitter
      -# sikachu end
      -# tdreyno start
      %li<>
        %p.name
          Thomas Reynolds
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/291394b477c2824bf5d75b831f125304?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/tdreyno", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/tdreyno", target: '_blank' }
              %i.icon-twitter
      -# tdreyno end
      -# crigor start
      %li<>
        %p.name
          Christopher Rigor
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/a68e628e19f69fd85b062b0b1b40ff41?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/crigor", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/crigor", target: '_blank' }
              %i.icon-twitter
      -# crigor end
      -# schneems start
      %li<>
        %p.name
          Richard Schneeman
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/schneems", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/schneems", target: '_blank' }
              %i.icon-twitter
      -# schneems end
      -# ryandotsmith start
      %li<>
        %p.name
          Ryan Smith
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/8964943d31146bd35d3d305ff940beca?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/ryandotsmith", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/ryandotsmith", target: '_blank' }
              %i.icon-twitter
      -# ryandotsmith end
      -# kuenishi start
      %li<>
        %p.name
          Kota Uenishi
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/e1923013dacab39eb231a2fffbf7b33c?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/kuenishi", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/@kuenishi", target: '_blank' }
              %i.icon-twitter
      -# kuenishi end
      -# xxuejie start
      %li<>
        %p.name
          Xuejie "Rafael" Xiao
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/9c85527be213734ed23c2ff233b7b5b8?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/xxuejie", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/defmacro", target: '_blank' }
              %i.icon-twitter
      -# xxuejie end
      -# irohiroki start
      %li<>
        %p.name
          Hiroki Yoshioka
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/f8fbcb02824678dbc843748e8da20d24?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/irohiroki", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/irohiroki", target: '_blank' }
              %i.icon-twitter
      -# irohiroki end
      -# tagomoris start
      %li<>
        %p.name
          tagomoris
        %p.avatar
          %img{ width: 100, height: 100, src: "http://gravatar.com/avatar/002525eada5741b7954ce22c1a066d32?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
        %p.links
          %span.btn
            %a{ href: "http://github.com/tagomoris", target: '_blank' }
              %i.icon-github-alt
          %span.btn
            %a{ href: "http://twitter.com/tagomoris", target: '_blank' }
              %i.icon-twitter
      -# tagomoris end
