%article#content
  %h1
    speakers
  %h2
    Keynote Speakers
  #keynoteSpeakers
    = partial 'speakers', locals: {speakers: data.speakers.keynote_speakers, avatar_size: 180}

  %h2
    Ruby Committers Who Are Going to Give a Talk
  #committers
    = partial 'speakers', locals: {speakers: data.speakers.committers, avatar_size: 100}

  %h2
    Speakers in the Plenary Kaigi
  #speakers
    = partial 'speakers', locals: {speakers: data.speakers.speakers, avatar_size: 100}
