%article#content
  %h1
    team
  %div
    %ul.teamMembers
      - data.team.each do |member|
        %li<>
          %p.name
            = member.name
          %p.role
            = [*member.role].join(',<br/>')
          %p.avatar
            %img{ width: 100, height: 100, src: "http://www.gravatar.com/avatar/#{member.gravatar}?s=100", alt: 'Avatar' }
