%article#content
  %h1
    team
  %div
    %ul.teamMembers
      - data.team.each do |member|
        %li<>
          %p.name
            = member.name
          %p.role
            = [*member.role].join(',<br/>')
          %p.avatar
            = gravatar_tag(member.gravatar, 100, alt: member.name)
