@charset "UTF-8";
/*--- mixins ----------------------------------------------*/

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin gradient_top_bottom($top, $bottom) {
  background: linear-gradient(#{$top}, #{$bottom});
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #{$top}),color-stop(1, #{$bottom}));
  background: -moz-linear-gradient(top, #{$top}, #{$bottom});
}

@mixin gradient_border_top_bottom($top, $bottom) {
  border: -webkit-gradient(linear, center top, center bottom, from($top), to($bottom));
  border: -moz-linear-gradient(top, #{$top}, #{$bottom});
}

@mixin box_shadow($y, $x, $blur, $color) {
  -webkit-box-shadow: #{$y}px #{$x}px #{$blur}px #{$color};
  -moz-box-shadow: #{$y}px #{$x}px #{$blur}px #{$color};
  box-shadow: #{$y}px #{$x}px #{$blur}px #{$color};
}

@mixin deepLinkColor {
  a:link,
  a:visited,
  a:active {
    color: #293745;
  }
  a:hover {
    color: #7f878f;
    text-decoration: underline;
  }
}
