@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,900,700);
@import 'bourbon/bourbon';

/*--- color ----------------------------------------------*/

$brightRed: #ff68a1;

$brightGreen: #abdbde;

$paleYellowGreen: #f8fee5;

$softPurple: #bd6ab4;
$darkPurple: #8e5087;

$white: #fff;
$gray: #666;
$black: #000;

/*--- default ----------------------------------------------*/

$defaultFontSize: 16px;

* {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: "Alegreya", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html {
  width: 100%;
  background: $paleYellowGreen;
}

body {
  background-image: image-url('commonHeaderBackground.svg'), image-url('commonBackground.png');
  background-repeat: repeat-x, repeat;
  width: 100%;
  height: 100%;
	line-height: 150%;
  font-size: $defaultFontSize;
  color: $gray
}

a:link,
a:visited,
a:active {
  color: $softPurple;
}

a:hover {
	color: $darkPurple;
  text-decoration: underline;
}

a:link,
a:visited,
a:hover,
a:active {
  img {
    border: none;
    text-decoration: none;
  }
}

img {
  vertical-align: middle;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}

address {
	font-style:normal;
}

h1,
h2,
h3,
h4 {
  clear: both;
  font-weight: 700;
	letter-spacing: 2px;
  color: $white;
}

nav {
	margin: 0;
	padding: 0;
}

ul li {
  list-style: none;
}

ol {
  padding: 20px;
}

dl {
  margin-top: 10px;
  dt {
    white-space: nowrap;
    float: left;
    display: block;
    clear: both;
    width: 12em;
  }
  dd {
    margin: 0;
    float: left;
    display: block;
  }
}

strong {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border: 1px solid $gray; 
}

table tr,
table tr th,
table tr td {
  padding: 10px;
  border: 1px solid $gray; 
  border-collapse: collapse;
}

th {
  background: $gray;
}

/*--- id, class ----------------------------------------------*/

p.btn {
  a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: $defaultFontSize + 4;
    font-weight: 700;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
	  text-decoration:none;
	  color: #fff;
  }
  a:link,
  a:visited {
	  background: $softPurple;
  }
  a:hover,
  a:active {
    background: $darkPurple;
    position:relative;
  }
}

.photos {
  text-align: center;
  img {
    border: 10px solid lighten($brightGreen, 15%);
  }
}

header {
  margin-bottom: 20px;
  nav {
    text-align: center;
    ul {
      margin: 0 auto;
      padding: 0px;
      li {
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        &:hover {
          background: rgba($black, 0.1);
        }
        a:link,
        a:visited,
        a:hover,
        a:active {
          display: block;
          font-weight: bold;
          text-shadow: 0 0 3px rgba($black, 0.2);
          letter-spacing: 1px;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

#mainImg {
  margin-bottom: 20px;
}

.comingSoon {
  height: 300px;
}

ul.listMark {
  padding-left: 10px;
  li {
    background: image-url('commonListMarkRed.svg') top left no-repeat;
    line-height: 30px;
    padding-left: 30px;
  }
}

.contentBg {
  @include box-shadow(0 0 8px rgba($black, 0.2) inset);
  border-radius: 10px;
}

#information,
#content {
  section {
    @include clearfix;
    margin-bottom: 20px;
    h1,
    h2 {
      color: $brightRed;
      font-size: $defaultFontSize + 6;
      margin-bottom: 10px ;
    }
  }
  & > h1,
  & > h2,
  & > h3,
  & > h4 {
    font-weight: 700;
    text-shadow: 0 0 3px rgba($black, 0.3);
    margin: 0 0 10px 0;
  }
  & > h1 {
    @extend .contentBg;
    background: $brightRed;
    color: $white;
    padding: 30px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: $defaultFontSize + 10;
  }
  h2 {
    @extend .contentBg;
    padding: 20px;
    font-size: $defaultFontSize + 6;
  }
  h1,
  h2{
    & + div {
      @extend .contentBg;
      @include clearfix;
      background: $paleYellowGreen;
      padding: 20px;
      margin: 0 0 30px 0;
    }
  }
  h3 {
    font-size: $defaultFontSize + 4;
  }
}

aside {
  text-align: right;
  padding: 5px 0;
}

footer {
  background: $paleYellowGreen;
  clear: both;
  margin-top: 10px;
  padding: 20px 0;
  nav {
    float: left;
    li:before {
      content: "» ";
    }
  }
  aside {
    float: right;
    #lang
      li {
        background: #293745;
        &:hover {
          background: #3e4b57;
        }
      a {
        color: #d4d7da;
      }
    }
  }
  #copyright {
    font-size: $defaultFontSize - 4;
    color: $gray;
    span {
      color: $gray;
    }
  }
}

#socialButtons {
  clear: both;
}

#content {
  h2 {
    background: $softPurple;
  }
}

/*--- home ----------------------------------------------*/

#information {
  margin-bottom: 20px;
  h2 {
    background: $brightGreen;
  }
  #previous {
    ol {
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
      }
      li:before {
        content: "» ";
      }
    }
  }
}

/*--- for attendees ----------------------------------------------*/

#map_canvas {
  width: 100%;
  height: 600px;
  img {
    max-width: none;
  }
}

/*--- team ----------------------------------------------*/

.teamMembers {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    text-align: center;
    margin: 20px 0;
  }
}

.name {
  font-size: $defaultFontSize + 4;
  text-transform: capitalize;
  color: $brightRed;
}

.role {
  text-transform: uppercase;
  font-size: $defaultFontSize - 1;
  line-height: 120%;
}

.avatar {
  img {
    border: 4px solid lighten($gray, 50%);
    margin: 10px;
  }
}
