@charset "UTF-8";

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/* モバイルレイアウト : 480 px およびそれ以下. */
/*------------------------------------------------------------------------------------------------------------------【１】*/

body {
  background-position: 0px -105px, top center;
}

header {
  margin-bottom: 30px;
}

header nav ul li {
  margin: 4px;
  display: block;
}

header nav ul li a {
  padding: 0;
}

#mainImg {
  display: none;
}

#siteTitle {
  display: none;
}

#siteTitleMobile {
  display: block;
  text-align: center;
  margin: 10px;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}

.wrapper {
	padding: 4.1666%;
}

#keynoteSpeakers li,
#speakers li,
.teamMembers li {
  width: 100%;
}

.photos img {
  margin: 10px 0;
  width: 80%;
}

/* タブレットレイアウト : 481 px ～ 768 px。モバイルレイアウトからスタイルを継承。 */
/*------------------------------------------------------------------------------------------------------------------【２】*/

@media only screen and (min-width: 481px) {

body {
  background-position: 0px -330px, top center;
}

header {
  margin: 10px 0 30px 0;
}

header nav ul li {
  margin: 0 2px;
  display: inline-block;
  width: 45%;
}

#mainImg {
  display: block;
}

#siteTitle {
  display: block;
  text-align: center;
  margin: 10px;
}

#siteTitleMobile {
  display: none;
}

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}

.wrapper {
	padding: 2.5641%;
}

footer aside {
	float: right;
}

#speakers li,
.teamMembers li {
  width: 50%;
}

.photos img {
  margin: 20px;
  width: 70%;
}

}

/* デスクトップレイアウト : 769 px ～最大 1232 px。モバイルレイアウトとタブレットレイアウトからスタイルを継承。 */
/*------------------------------------------------------------------------------------------------------------------【３】*/

@media only screen and (min-width: 769px) {

body {
  background-position: 0px -395px, top center;
}

header nav ul li {
  display: inline-block;
  width: auto;
}

header nav ul li a {
  padding: 0 10px;
}

.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

.wrapper {
	padding: 0;
}

#keynoteSpeakers li,
.teamMembers li {
  width: 33.3%;
}

#speakers li {
  width: 20%;
}

.photos img {
  width: auto;
}

}
