@charset "UTF-8";

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/* モバイルレイアウト : 480 px およびそれ以下. */
/*------------------------------------------------------------------------------------------------------------------【１】*/

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}

.wrapper {
	padding: 4.1666%;
}

.btn {
	margin: 10px 50px;
}

/* タブレットレイアウト : 481 px ～ 768 px。モバイルレイアウトからスタイルを継承。 */
/*------------------------------------------------------------------------------------------------------------------【２】*/

@media only screen and (min-width: 481px) {
	
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}

.wrapper {
	padding: 2.5641%;
}

.btn {
	margin: 10px 30px;
}

footer aside {
	float: right;
}

}

/* デスクトップレイアウト : 769 px ～最大 1232 px。モバイルレイアウトとタブレットレイアウトからスタイルを継承。 */
/*------------------------------------------------------------------------------------------------------------------【３】*/

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

.wrapper {
	padding: 0;
}

.btn {
	margin: 10px 70px;
}

}
