%tr
  %th{rowspan: cells.size}= slot
  - 2.times.with_object(cells.shift) do |i, line|
    - id = line[i]
    %td= partial 'schedule_cell', locals: {id: id, session: data.sessions[id.to_s]}

- cells.each do |line|
  %tr
    - 2.times do |i|
      - id = line[i]
      %td= partial 'schedule_cell', locals: {id: id, session: data.sessions[id.to_s]}
