%ul.speakers
  - speakers.each do |speaker|
    %li<>
      %p.name
        = speaker.name
      %p.avatar
        = gravatar_tag(speaker.gravatar, avatar_size, alt: speaker.name)
      %p.links
        - if speaker.links.github
          %span.btn
            %a{ href: "https://github.com/#{speaker.links.github}", target: '_blank' }
              %i.icon-github-alt
        - else
          %span.btnDisabled
            %a
              %i.icon-github-alt

        - if speaker.links.twitter
          %span.btn
            %a{ href: "https://twitter.com/#{speaker.links.twitter}", target: '_blank' }
              %i.icon-twitter
        - else
          %span.btnDisabled
            %a
              %i.icon-twitter
